.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 150px);
    width: 300px;
    padding: 20px;
    gap: 40px;
    background-color: transparent;
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links:hover, .links::after{
    color: #53c28b;
}

.icon{
    color: #53c28b;
}