.container{
    height: 50px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon{
    opacity: 0.6;
    cursor: pointer;
}