.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.FormP {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.input{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-weight: bold;
    color: #bbb;
}

.button{
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }