.item{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.imgContainer{
    flex: 1;
    height: 250px;
    position: relative;
}

.img{
    object-fit: contain;   
}

.content{
    flex: 3;
}

.title{
margin-bottom: 10px;
}

.desc{
font-size: 16px;
color: #bbb;
}